<% provide(:title, "Home") %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>My Car Travel</h1>
      <p>
          (206) 257-9362<br />
          Welcome to My Car Travel<br />
          - Car Travel in Seattle<br />
          (Coming Soon)
      </p>
    </div>
      
    <div class="col-md-6">
      <h1>Status</h1>
      <p>
        <%= @currentstatus.mystatus %><br /><br />          
        <%= link_to 'Update My Status', new_status_path, class: "btn btn-primary btn-lg" %>  
      </p>        
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="about-us">
    <h2>About Us</h2>
    <%= image_tag("car_front.jpeg", alt: "2017 Chrysler Front", class: "img-responsive") %>
    <h3>Car Travel in Seattle - My Car Travel</h3>
    <p>My Car Travel in Seattle gives you a reliable and safe town car in Seattle at reasonable price. We offer alternative transportation to Sea-Tac airport. <a href='https://mycartravel.com/'>https://mycartravel.com/</a></p>
    </div>
  </div><!-- end of .row -->
    
  <div class="row">
    <div class="col-md-6">
      <%= image_tag("david_chong.jpeg", alt: "David Chong", class: "style-image-align-center") %>
      <h3>David Chong</h3>
      <h4>Your friendly driver David Chong.</h4>
    </div>
    <div class="col-md-6">
      <%= image_tag("car_rear.jpeg", alt: "2017 Chrysler Rear", class: "style-image-align-center img-responsive") %>
      <h3>2017 Chrysler 300</h3>
      <h4>BER8599</h4>        
    </div>
  </div><!-- end of .row -->
    
  <div class="row">
    <h2>Rates</h2>
    <div class="col-md-4">
      <h3>Our Rates</h3>
      <ul>
        <li>15-minute ride: US$10.</li>
        <li>16-30 minutes ride: US$20.</li>
        <li>31-45 minutes ride: US$30.</li>
        <li>46-60 minutes ride: US$40.</li>
        <li>61-75 minutes ride: US$50.</li>
        <li>76-90 minutes ride: US$60.</li>
      </ul>
      <p>Minimum is 15-minute ride (US$10).</p>
    </div>
    <div class="col-md-4">
      <h3>Fares</h3>
      <p>Estimated fares to Sea-Tac Airport:</p>
      <ul>
        <li>Seattle (Downtown): US$20.</li>
        <li>Ballard: US$20.</li>
        <li>Bellevue: US$20.</li>
        <li>Renton: US$10.</li>
        <li>Burien: US$10.</li>
        <li>Kent: US$20.</li>
      </ul>
      <p><%= link_to "RESERVATIONS", '#', class: "btn btn-primary btn-lg" %></p>
    </div>
    <div class="col-md-4">
      <h3>Book now</h3>
      <p>
        You can book My Car Travel using Appointlet. Please click the Book Now button.<br />
        <%= link_to "BOOK NOW", '#', class: "btn btn-primary btn-lg" %>
      </p>
    </div>      
  </div><!-- end of .row -->

  <div class="row">
    <div class="col-md-6">
      <h2>Contact Us</h2>
      <h3>Good communication is important!</h3>
      <p>We love our customers, so feel free to contact us during normal business hours.</p>
        
      <!-- nested col-md-6 -->
      <div class ="row">
        <div class="col-md-6">
          <h3>My Car Travel</h3>
          <p>
            13745 42nd Ave S<br />
            Tukwila, WA 98168<br /><br />
            (206) 257-9362<br />
            (Text Message)
          </p>
        </div>
        <div class="col-md-6">
          <h3>Hours</h3>
          <p class="hours">
            Monday: 6 am - 6 pm<br />
            Tuesday: By appointment<br />
            Wednesday: 6 am - 6 pm<br />
            Thursday: 6 am - 6 pm<br />
            Friday: 6 am - 6 pm<br />
            Saturday: By appointment<br />
            Sunday: 6 am - 6 pm<br /><br /> 

            Email: jimmychong_st@yahoo.com
          </p>
        </div>
      </div>        
        
    </div><!-- end of .col-md-6 -->      
    <div class="col-md-6">
      <iframe class="style-image-align-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.5493612861287!2d-122.28388024891018!3d47.47921040466051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490431f20d73789%3A0x6242dfce1882e886!2s13745+42nd+Ave+S%2C+Tukwila%2C+WA+98168!5e0!3m2!1sen!2sus!4v1505281740941" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>      
    </div><!-- end of .col-md-6 -->      
  </div><!-- end of .row -->
    
</div><!-- /.container -->
